body {
  background-color: #316B83;
  color: #171717;
}

body {
  font-family: "Proza Libre", sans-serif;
}

h1 {
  font-size: 35px;
  text-align: center;
}

body {
  background-color: #316B83;
  color: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}
.game #chaser-board {
  display: grid;
  grid-template-columns: 230px;
  grid-template-rows: repeat(9, 40px);
}
.game #chaser-board .step {
  display: flex;
  width: 230px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  background-color: #FFFDF9;
  align-items: center;
  justify-content: center;
}
.game #chaser-board .step:first-child {
  background-color: #FF4646;
}
.game #chaser-board .step:nth-child(3) {
  background-color: #7FCD91;
}
.game #question-box {
  margin: 10px 0;
  padding: 25px;
  background-color: #FFFDF9;
  display: grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 30px 30px 30px 30px;
  row-gap: 30px;
  column-gap: 38px;
  border-radius: 20px;
}
.game .question-display {
  grid-row: 1/3;
  grid-column: 1/3;
  border: 1px solid black;
  text-align: center;
}
.game .optionA__btn {
  border-radius: 10px;
}
.game .optionB__btn {
  border-radius: 10px;
}
.game .optionC__btn {
  border-radius: 10px;
}
.game .optionD__btn {
  border-radius: 10px;
}