@import "_variables.scss";

$primary-font: 'Proza Libre', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

body{
  font-family: $primary-font;
}

button{
  font-family: $primary-font;
}

h1{
  font-size: 40px;
  text-align: center;
  margin: 15px 0;
}

p{
  font-size: 30px;
  margin-top: 50px;
}
