//$background-color: #316B83;
$background-color: #FFE3ED;
$primary-color: #7FCD91;
$secondary-color: #FF4646;
$tertiary-color: #FFFDF9;
//$font-color: #171717;
$font-color: #2C2E43;

body{
  background-color: $background-color;
  color: $font-color;
}
